@import url('https://fonts.googleapis.com/css?family=Open+Sans:300, 400,600&display=swap');

 a:visited, a:link {
	 text-decoration: none;
}
 html, body {
	 display: flex;
	 width: 100%;
	 height: 100%;
	 justify-content: center;
	 align-items: center;
	 font-family: 'Open Sans', sans-serif;
	 font-size: 0.9rem;
	 flex-shrink: 0;
}
 body {
	 transition: all 0.3s ease;
}


.card{
    text-align: center;
    border:none;
    box-shadow: 0 0 2px 2px #ccc;
}
.card a{
    color: rgba(0, 0, 0, 0.7);
}

.card-title{
    font-size: 20px;
    font-weight: 700;
}

.social-icon{
    font-size: 24px;
    margin:  0 20px;
}